[2016-05-06 23:19] ghost opened #1 "armhf not supported?"
Hi @realitygaps,

so installing mongodb doesn't seem to work on armhf (e.g. LIME2), right?

And why does this refer to wheezy and not to jessie?

https://github.com/realitygaps/rocketchat_ynh/blob/master/scripts/install#L20

Thanks for the efforts!

[2016-05-07 00:01] realitygaps commented on #1
its still not really a finished package, so we've focused on x86 testing on our servers so far - but will try it on my lime (thought maybe it would be too heavy, and also takes a long time to install whilst testing).

The wheezy thing is the way mongo seems to have (mis)named their repositories, I also found it strange. Hopefully we get some time to test the package this month on the lime2.

[2017-02-19 22:01] pavanagrawal123 opened #2 "Is this working?"
The app was successfully installed, however, the LDAP did not work. It said user not found or incorrect password... Is this is a config error, or a bug in the package?

Thanks.

[2017-02-20 13:21] realitygaps commented on #2
I dont think LDAP connection was completed in this package, it was a proof of concept. Installs correctly but I think the first user you create is the admin as far as I remember. This would need some tweaking to be a finished packages (hence isnt listed in the app lists of yunohost)

[2017-02-20 19:34] pavanagrawal123 commented on #2
Thanks for your response!

It won't let me register a new user unfortunately.

I am currently trying to build my own package that dynamically installs it.

Thanks!

[2017-02-21 12:15] realitygaps commented on #2
I hope the package is useful for you to base yours on, I did have ldap working but it wouldnt let me use rocketchat without creating an admin user first as far as I remember so I disabled it and didnt get back to trying again.

[2017-02-21 12:16] realitygaps commented on #2
There were also some ARM issues with the mongo packages, so it only worked on x86 as far as I remember.

[2017-07-19 20:34] selamanse opened #4 "Introduce package to yunohost forum"
I'd like to contribute #3 and also support this package to be registered in the ynh forums.

[2017-07-21 12:09] realitygaps commented on #4
Great! I haven't had time to work on making this package work properly for a while, I merged your changes now.

[2017-07-24 13:11] selamanse commented on #4
I'd really like to improve further and list this package as an unofficial app for more testing via community. Can you add me as a collaborator here plz?

[2017-07-24 13:13] selamanse commented on #2
#3 has a working state (merged into this repo already).
If you are looking for further improvements (Backup, Restore Upgrade working):
https://github.com/selamanse/rocketchat_ynh

I am currently preparing a better pull request (not so many dirty commits) and also trying to enlist this package in the yunohost forums.

[2017-07-26 07:15] selamanse commented on #4
I've created some awareness [here](https://forum.yunohost.org/t/rocketchat-for-ynh-package/3189 ), hope you don't mind?

[2017-07-26 19:37] selamanse opened #6 "Improve Package"
Improve Package by further implementing [Packaging best practices](https://yunohost.org/#/packaging_apps)

- [x] application sources should be checked with a control sum (sha256, sha1 or md5) or a PGP signature;
- [x] scripts should be tested on Debian Jessie as well as 32 bits, 64 bits and ARM architectures;

[2017-07-28 12:57] frju365 opened #8 "Change ownership of repo to Organization: YunoHost-Apps"
Bonjour,
Il serait bien, pour une meilleure gestion des applications et une meilleure gestion des contributions, que toutes les apps rejoignent l'organisation **Yunohost-Apps**.
Merci,
frju365
_____
Hello,
To manage in a better way the contributions and the Apps, we invite you to change the ownership of your app  to **Yunohost-Apps** Organization.
Thanks,
frju365

[2017-07-31 07:11] selamanse commented on #8
@realitygaps this is to gain more support from the main community. All your repo rights remain as they are. Can you please transfer the repo to the above mentioned Org? I already have created a team called rocketchat.

[2017-08-14 11:29] selamanse commented on #8
@realitygaps don't want to stress you out but I'd like to push this a little farther so we can implement updates quicker and more easily by adding people. If you transfer this to the Organization it would be nice, because we can work as a collaborative team...Also we would be added to the automated build pipeline @ http://ci-apps.yunohost.org/.

[2017-08-14 11:45] selamanse commented on #4
done. also see discussion here...#8

[2017-08-14 11:45] #4 closed, assigned to selamanse

[2017-08-14 11:46] selamanse commented on #2
Currently it is manually tested and working on debian jessie x64. Further testing is needed and also automated testing would be nice. see efforts here #6 and here #8. Feel free to reopen this issue if you have any further questions.

[2017-08-14 11:46] #2 closed, assigned to nobody

[2017-08-14 20:59] frju365 commented on #8
Euh, is there a problem in changing the owner of the repos ?

[2017-08-15 11:19] selamanse commented on #8
@frju365 no problem - I just put in a reminder 😃

[2017-08-17 00:58] realitygaps commented on #8
" You don’t have the permission to create repositories on YunoHost-Apps "

Im currently on vacation, hence the delayed replies

[2017-08-17 04:38] selamanse commented on #8
@realitygaps no need to create a new repo.
You can use the settings of this repo to transfer as described [here](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/) in section "Transferring a repository to another user account or to an organization".

While transferring you will be prompted for a team. please use the team "rocketchat" that I already created

[2017-08-17 07:38] realitygaps commented on #8
That was what i tried, will attempt again from a non-mobile device when i get a chance

[2017-08-17 09:18] frju365 commented on #8
sorry... It's my fault. I believed that I invited you to the Yunohost-Apps Organization. Sorry !
Can you retry now after having accepted the invitation ? I think it will work now. (indeed, you can't transfer a repos to an orga you don't belong too)

[2017-08-17 11:33] realitygaps commented on #8
hmm i still dont see an organisation invite

[2017-08-17 11:36] frju365 commented on #8
I think it was send by email. Or you can accept it on by enter this URL : https://github.com/YunoHost-Apps.

[2017-08-17 11:54] realitygaps commented on #8
OK, should be transferred now

[2017-08-17 13:00] frju365 commented on #8
Nice ! Thanks !

[2017-08-17 13:00] #8 closed, assigned to realitygaps

[2017-08-17 13:33] dicer opened #9 "Add package to community apps"
Add to https://github.com/YunoHost/apps/blob/master/community.json

[2017-08-17 13:35] dicer opened #10 "Add CI at ci-apps.yunohost.org + github webhook"
Add Travis CI auto-builds and check to this repo

[2017-08-17 19:22] selamanse commented on #10
I think its better to use the ci job at https://ci-apps.yunohost.org/jenkins/ ...let's ask @frju365 he can integrate the job and create a github webhool.

[2017-08-17 19:35] selamanse commented on #6
will be resolved by #10

[2017-08-17 19:37] selamanse opened #11 "Add rocketchat version 0.58.0"

[2017-08-17 19:44] #9 closed, assigned to selamanse

[2017-08-17 19:54] frju365 commented on #10
A hook will be created and a test will be made Friday.
I can add your app on the non-official CI too if you need a test quickly.

[2017-08-17 20:53] selamanse opened #13 "update mongodb repo to jessie"
as described [here](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-debian/)

add this to install script replacing wheezy reference:

[code]

[2017-08-17 21:39] #11 closed, assigned to dicer, selamanse

[2017-08-17 23:00] selamanse commented on #10
@dicer I have now also activated basic package lint check via travisci

[2017-08-21 10:49] #13 closed, assigned to nobody

[2017-08-25 08:20] dicer opened #17 "Add yunohost to install methods in upstream readme"
Upstream has a section about different methods of deploying rocketchat:
https://github.com/RocketChat/Rocket.Chat#deployment

We should add yunohost

[2017-09-04 19:26] selamanse commented on #10
I added the webhook to https://ci-apps.yunohost.org/jenkins/github-webhook/ in this repo and discovered that the build is running every 10 days (scheduled).

[2017-09-04 19:26] #10 closed, assigned to selamanse, frju365

[2017-09-04 19:54] selamanse commented on #6
Closing this...This issue was just kept open as a reminder to gain proper testing. At this moment the yunohost-ci pipeline triggers on master commits and there are other test methods that are being evaluated on x64 and x32 debian systems.

[2017-09-04 19:54] #6 closed, assigned to selamanse

[2017-09-05 06:20] selamanse commented on #17
done!

https://github.com/RocketChat/Rocket.Chat#yunohostorg

[2017-09-05 06:20] #17 closed, assigned to selamanse

[2017-09-29 07:53] #1 closed, assigned to nobody

[2017-10-24 15:45] alexAubin opened #27 "Bad use of checkurl ?"
Hello,

I don't have time to write a full issue description, but please have a look at : https://forum.yunohost.org/t/installation-of-2-community-apps-fails/3668/10

[2017-10-26 11:44] dicer commented on #27
True, we use it on its own subdomain so we never noticed. @selamanse has a test server where he could try this out.

Are there any expected side effects from changing the line?
```sudo yunohost app checkurl $domain$path -a $app```

https://github.com/YunoHost-Apps/rocketchat_ynh/blob/d4a4ebe976dc1ca8568b9a8bc4367f5f4017a4e7/scripts/install#L38

[2017-10-26 11:52] alexAubin commented on #27
Checkurl does 2 things :
- It checks that the URL is available (i.e. that no app already booked a parent URL of this app (e.g. if an app is installed on `/wordpress`, you can't book `/` and vice-versa)
- It not available, it triggers an error (return code != 0)
- If it's available, it books/registers it

So your current code ($domain alone) actually booked the full domain for rocketchat even if yo

[2017-11-02 08:03] antaeusdk opened #33 "Checksum error"
Steps where I can reproduce the error (from CLI)
1. Clone the repo via git
2. Edit the "install" script file to contain $path in the checkurl refference
3. Run yunohost app install ./rocketchat_ynh/ --debug

`73810 INFO ++ sha256sum /var/lib/rocketchat/rocket.chat-0.58.4.gtar`
`73810 WARNING The sha256sum does not match the configured one`
`73843 WARNING !!`
`73846   rocketchat's script encountere

[2017-11-02 08:45] dicer opened #34 "Update installs latest version, not the one we want to"
We should use the configured version in the update script. It's kind of dangerous to just download the latest version for several reasons:

  -  no shasum check here
  -  no idea if dependencies are met
  -  untested release by us
  -  etc.

That said I think we also need to think about copying changes we make to the install script in here. Like installing new nodejs versions. If you just upgrade

[2017-11-02 08:47] dicer commented on #33
Should be fixed by commit b4550cc

[2017-11-02 08:49] #27 closed, assigned to selamanse

[2017-11-02 13:05] selamanse commented on #33
@antaeusdk the reason for this is documented here #30 (short: rocket.chat has changed download locations resulting in a 404 page being downloaded instead of bundled app).

I will close this for now. Please feel free to reopen if the problem persists.

[2017-11-02 13:05] #33 closed, assigned to nobody

[2017-11-03 09:22] selamanse opened #35 "typo in _common.sh prevents install rollback on errors"
on installation problems ynh_die cannot be executed due to a typo.

[2017-11-04 06:44] anmol26s opened #37 "Support oplog tailing for this package installation"
When I go to Administration -> Info I see this error on the top of the page.

[code]
Though the RocketChat is working fine.

[2017-11-07 22:27] selamanse commented on #37
yeah I noticed that message. it's there is no oplog setup included in this setup (it's not necessary from my point of view for small setups e.g. 20 people or so). But yes, it should be an option to install it to so I take this would be a feature in upcoming versions. I'm just thinking of loud.
As of the message - it disappears after a certain time and doesn't really seem to be an issue...

[2017-11-13 10:37] narduin opened #38 "installation fails on raspberry pi"
Hello !
First of all, thanks for the work you're doing devlopping this package.

I'm running into an error while installing the app (admin panel or cli, yunohost up to date).

[code]

Thanks for your help !

[2017-11-13 13:02] selamanse commented on #38
Hi @patatus

first of all - armhf installation is still experimentary for this package. This is due to missing test capability and also rocketchat&mongodb is not an recommended setup on one raspberry pi (I'm guessing you use pi).

seems like there is an issue with the armhf platform detection. The 3.4 mongodb repos are not compatible with armhf...so there is a "Failed to fetch" when the installati

[2017-11-13 13:43] narduin commented on #38
Hey @selamanse !

I didn't know about the experimental/compatibility issues, thanks for clearing that up.
I am running yunohost 2.7.2 from a pi 3 on debian 8.0.

I tried to change the line you refered to to "binary-armhf" but no luck. Although this time I had some more warnings :
[code]

[2017-11-13 13:53] selamanse commented on #38
ok ... can you please run the command `dpkg --print-architecture` and post the output here?

[2017-11-13 14:09] narduin commented on #38
The output is simply `armhf`.

If you think the problem is not worth debugging and I should wait for total support I understand =)

[2017-11-13 14:24] selamanse commented on #38
@patatus thx. It's definitely worth documenting here. I marked this as a known issue/bug for armhf and will test as soon as I get my hands on a free pi.

[2017-11-27 13:30] anmol26s opened #39 "Installation fails"
Hi
Suddenly the rocket chat stopped working. I uninstalled and tried to install again and got the error:
[code]

[2017-11-27 20:40] selamanse commented on #39
HI @anmol26s, seems as if your npm install is broken after installing rocketchat_ynh the first time and then uninstalling it. Maybe the routine doesn't cover the fact that the node version is modified after the debian package installation.

you can try removing npm and nodejs completely from your system and then rerunning the rocketchat_ynh installer.

Reference: https://askubuntu.com/questions/62

[2017-11-27 20:45] #35 closed, assigned to selamanse

[2017-11-28 08:10] anmol26s commented on #39
I have tried almost all solution on the internet but this is not getting solved.
[code]
Its mine problem not the apps. So this can be closed.

[2017-11-28 17:27] selamanse commented on #39
ok, please feel free to reopen if you think that the issue should be handled by this installer. :)

[2017-11-28 17:27] #39 closed, assigned to nobody

[2017-11-28 19:20] anmol26s commented on #39
Installing `sudo apt-get install aptitude`  and then doing `sudo aptitude install npm` solves the problem.

[2017-12-22 09:21] arthurzenika opened #40 "Release referenced in community.json fails to install"
The latest release 0.58.3-ynh1 referenced in  https://github.com/YunoHost/apps/blob/master/community.json#L969 seems to fail to install because of `yunohost app checkurl` which has been fixed https://github.com/YunoHost-Apps/rocketchat_ynh/commit/9c25bc0ca3ad5fc34d3cbf9c9abd8566aa16eb60

It would be nice to release a new version and update the community.json file. We've successfully installed rock

[2017-12-22 11:53] selamanse commented on #40
thanks for the hint 👍  I have now released [0.58.4-ynh1](https://github.com/YunoHost-Apps/rocketchat_ynh/releases/tag/0.58.4-ynh1) and opened the requested pr.

[2017-12-22 11:53] #40 closed, assigned to selamanse

[2017-12-22 11:57] arthurzenika opened #41 "Can't use rocketchat electron app with rocketchat on yunohost"
When pointing to a rocketchat hosted on yunohost using rocketchat electron (https://github.com/RocketChat/Rocket.Chat.Electron/ - Desktop Client https://rocket.chat/download) it says "No valid server found at the URL"

I believe it is because the application looks for the URL at : domain/rocketchat/api/info and gets the yunohost SSO redirect.

Would it be possible to have a whitelist on that URL t

[2017-12-22 12:03] selamanse commented on #41
Hi @arthurlogilab, thanks for testing the desktop client. Currently SSO has to be disabled for this app to work with the desktop client. I will tag this as an enhancement (because it really is still an open issue). I guess a whitelisting only for the api/info will get stuck after the desktop client reaches out for the rest of the api to communicate - but I guess we will have to look into that too.

[2018-02-19 13:21] workbykiran opened #43 "Unable to Login into Rocketchat"
Hi,

I successfully deployed Rocket chat from yunohost administration interface. however when logged into yunohost with a user and then opened rocket chat, then:
1. It is asking to authenticate by displaying login page.
2. Even if i manually key in the username and password, i was not able to login at all.

Iam using latest yunohost and rocket chat as deployed couple of days back.

Will there be a

[2018-02-19 20:07] selamanse commented on #43
Hi @workbykiran,

first off: thanks for using this package and giving feedback. It helps to improve if we get scenarios of how it is being used.

This rocketchat package for yunohost currently does not support sso. So you have to reenter credentials at the rocketchat login page (using your yunohost user and yunohost password).
Currently the easiest way to use rocketchat for yunohost is to install

[2018-02-19 20:59] workbykiran commented on #43
Thanks for the information. However iam not able to login with the same credentials which i used to login yunohost. Can you tell me where the logs are available for the rocketchat login failures. I dont see in /var/log folder.

[2018-02-19 21:52] selamanse commented on #43
Hi @workbykiran, logs are not stored in any file at the moment but in the journalctl system. Please try `journalctl -u rocketchat -r` on your system for logs of the rocketchat service.

[2018-04-21 21:07] dicer opened #44 "Latest mobile client needs newer server version"
Latest mobile clients complain about an too old server version. 0.62.0 or 0.63.0 seem to be the minimum versions depending on which source you look at.

![screenshot_20180419-090847](https://user-images.githubusercontent.com/219524/39088782-a7baef70-45b8-11e8-88eb-377775dcd380.png)
![screenshot_20180419-090631](https://user-images.githubusercontent.com/219524/39088784-b384ea22-45b8-11e8-9145-27aaa

[2018-04-26 04:57] krishna-kashyap commented on #43
I could see a No such object error from LDAP module in the journalctl. Not sure which LDAP config is causing this

[2018-04-30 10:31] plopoyop opened #45 "User can't connect when have more than one email"
I create the issue to follow the upstream bug :  https://github.com/RocketChat/Rocket.Chat/issues/10247

[2018-04-30 15:57] selamanse commented on #44
I have merged PR  #46 which should resolve this issue.

[2018-05-01 06:54] selamanse commented on #44
I have released [0.64.0-ynh1](https://github.com/YunoHost-Apps/rocketchat_ynh/releases/tag/0.64.0-ynh1 )

[2018-05-15 18:00] selamanse opened #48 "Implement multi_instance with proper nginx logic"
Multi instance setups can be useful for loadbalancing.
proxy_pass with upstream setting (for loadbalancing via nginx) is also needed.

there is already a prepared setting for this in the manifest called multi_instance but the installation routine has to be enhanced to actually do multi_instance setup.

Also mongodb replica sets have to beconfigured properly (referral to rocketchat setup here).

[2018-05-18 13:16] adimascio opened #49 "404 on https://download.rocket.chat/build/rocket.chat-0.64.1.tgz"
Hi,

I'm trying to install the latest version of rocket chat (0.64.1) within yunohost but the download URL generated (i.e. `https://download.rocket.chat/build/rocket.chat-0.64.1.tgz`) seems invalid. Does anyone know if it's temporary or if the URL scheme has recently changed?

[2018-05-18 15:05] selamanse commented on #49
Seems it has changed...(again)... I will try to find out how and why.

[2018-05-18 15:27] selamanse commented on #49
ok I found a hint here...

RocketChat/Rocket.Chat#8998

seems only the bucket url from their ci build is valid at the moment (also saw this in the [circle-ci script](https://github.com/RocketChat/Rocket.Chat/blob/c4c0f67c911a663aa9ffe8fb67bf6890b70cb7b8/.circleci/config.yml#L245)):

https://s3.amazonaws.com/download.rocket.chat/build/rocket.chat-0.64.1.tgz

I will fix this asap.

[2018-05-18 15:44] selamanse commented on #49
Integration tests are running:
https://travis-ci.org/selamanse/rocketchat_ynh/builds/380755337

[2018-05-18 21:29] selamanse opened #51 "Restore might not be working as desired"
integration testing for #50 showed that currently restore fails.

[2018-05-18 21:30] #49 closed, assigned to selamanse

[2018-05-18 21:44] selamanse commented on #37
Will be resolved after #48

[2018-06-19 15:32] alexAubin opened #54 "Commit is not up to date in the community.json"
Hellow,

I found that the commit on [community.json](https://github.com/YunoHost/apps/blob/master/community.json) is outdated, hence people installing the app via this list won't benefit from the last upgrades / improvements ...

Please create a PR to update it on the list (I do not maintain this app so it's not relevant for me to do it and it might be refused...)

ProTip™ : possibly you can now s

[2018-06-19 19:05] selamanse commented on #54
@alexAubin thanks for pointing this out.

[2018-06-19 19:10] #54 closed, assigned to selamanse

[2018-07-07 21:30] win8linux opened #55 "RocketChat installation fails"
Hello there! I've been recently attempting to install RocketChat; unfortunately, it always fails with this output:

[code]
Additionally, this line appears right before the last one if `mongodb` isn't ***already*** present:

[2018-07-08 02:26] anmol26s commented on #55
The apps needs work and should be updated to latest version.

[2018-07-19 07:44] antaeusdk opened #56 "Can't log in after installation"
When installing Rocket.Chat on a Yunohost 2.7* instance, after finished installation, log in will not be possible.
Leaving the installation window open works.
If opening in another browser, the correct credentials will not be accepted.

[2018-08-20 16:33] dixon-hill opened #57 "Login in to Mobile app throwing Errors"
I have tried to login to our chat interface through the mobile app, and ever since the update I can only get my teams internal chat working, not the public chat.

So I logged out completely and entered the URL of the public chat for the server name and when I enter my name and password I get this error:
![img_4179](https://user-images.githubusercontent.com/35572945/44353497-03a6a700-a45c-11e8-8ee9

[2018-09-10 15:08] tomdereub commented on #55
Hi! I don't know is some work has been made, but installation failed for me too :
`146438 ERROR unable to download https://github.com/YunoHost-Apps/rocketchat_ynh/archive/master.zip`

[2018-09-11 16:54] anmol26s commented on #55
I think @selamanse can fix adding the latest sources.

[2018-09-19 08:43] corentincharron opened #58 "Installation fails"
Hello, I'm trying to install Rocketchat, but I get the following error when doing it through the Yunohost administration interface:

[code]

Any ideas for fixing that? Am I missing something ?

(Anyway, thanks for the work already :) )

[2018-09-24 12:19] win8linux commented on #55
Is there a way to inform YunoHost that this app no longer works? It's been months now since this issue was reported with nothing happening towards a solution.

[2018-09-24 12:33] anmol26s commented on #55
@win8linux
The packager maybe busy. I will have a look more late. Please paste the complete log here.

[2018-09-24 13:17] dicer commented on #55
Yeah, I'm pretty busy at the moment. Sorry!
I did the necessary changes but did not test at all. Especially if other
packages like npm need updating. Please try installing from my branch
and give some feedback here so we can merge this:
$ yunohost app install  --debug https://github.com/dicer/rocketchat_ynh/tree/0.69.2

[2018-09-24 13:32] win8linux commented on #55
While the 0.69.2 version is installing, [here's the log](https://paste.yunohost.org/raw/ajacenujus) that @anmol26s was asking for:

[code]

[2018-09-24 13:45] dicer commented on #55
Ok. This log looks like mongodb does not install properly and not like a
problem with the download of the latest version. Can you help please
@selamanse ?

[2018-09-24 13:47] win8linux commented on #55
How do I install from the 0.62.2 tree @dicer? Nothing happens when I try to use it with `yunohost app install`.

[2018-09-24 13:58] anmol26s commented on #55
@win8linux

`$ yunohost app install --debug https://github.com/dicer/rocketchat_ynh/tree/0.69.2`

[2018-09-24 14:04] win8linux commented on #55
Thanks for that @anmol26s; the installation has started. However, it seems to be stuck after asking for the language. Nothing seems to be happening; is it doing something in the background?

[2018-09-24 14:21] win8linux commented on #55
My `ssh` session just timed out while the install was going on. Nothing else seems to have happened. What now?

[2018-09-24 14:30] anmol26s commented on #55
[code]

[2018-09-24 14:49] win8linux commented on #55
The installation has failed and [here](https://paste.yunohost.org/raw/josukobego) is the log:
[code]

[2018-09-24 14:56] dicer commented on #55
I see whats happening here: You are on Debian stretch but RocketChat
still assumes we are installing on jessie. Was yunohost updated to Stretch?

[2018-09-24 14:56] win8linux commented on #55
If it helps, here is the output of `lsb_release -a`:
[code]

[2018-09-24 14:59] win8linux commented on #55
YunoHost recommends Debian 9 (Stretch), as stated [here](https://yunohost.org/#/install_manually):

[2018-09-27 06:34] selamanse commented on #58
Hi sorry for the delay - I will be able to have a look within the next week. Can you please post some detail info about your yunohost and OS version, as well as how you install this package? Thank you.

[2018-09-27 06:35] selamanse commented on #55
Hi sorry for the delay - I followed this conversation and think I will be able to have a look within the next week.

[2018-09-27 06:40] selamanse commented on #55
@dicer I think you are right. It is the mongo repository which assumes yunohost runs on Debian jessie.

[2018-09-28 08:13] anmol26s commented on #55
The package need rework too according to Yunohost 3

[2018-10-02 18:03] corentincharron commented on #58
No worries!

I install it through the administration interface, and this is my Yunohost diagnostic.

Though, I don't know where else to find more detailed logs regarding the Rocketchat installation
[code]

[2018-10-03 19:52] selamanse commented on #58
@Onectin I have filed a PR #59 which will most likely address your issues.
You can test it by running installation of the ynh app from your ynh server command line: `yunohost app install https://github.com/selamanse/rocketchat_ynh --debug`. Please be so kind to post the full debug info here if some errors still occur. Thank you.

[2018-10-03 19:53] selamanse commented on #55
@win8linux I have filed PR #59 which addresses current installation problems on debian 9.
You can test it by running installation of the ynh app from your ynh server command line: `yunohost app install https://github.com/selamanse/rocketchat_ynh --debug`. Please be so kind to post the full debug info here if some errors still occur. Thank you.

[2018-10-04 07:03] win8linux commented on #55
[Here](https://win8linux.ynh.fr/pastebin/?e0e0f94bccf4614c#2KfNzHeHqVqQtg1nSmAF5Xd5yj75BZ8WLcasrwfLLrw=) is the full debug info that you were looking for @selamanse:
[code]

[2018-10-04 07:44] selamanse commented on #55
@win8linux, Ok it seems that your System is discovered as Debian 8. I guess my autodiscovery is not safe for upgraded distros.  Can you please post the output of „cat /etc/issue“ ?

[2018-10-04 07:51] selamanse commented on #55
Also please let me now the outcome of cat /etc/debian_version. Question: Did you dist upgrade from jessie to stretch?

[2018-10-05 10:47] win8linux commented on #55
`cat /etc/issue`:
[code]

`cat /etc/debian_version`:
[code]

No, I didn't do `apt dist-upgrade` on the server @selamanse.

[2018-10-05 20:00] selamanse commented on #55
@win8linux ok thank you for the outputs. I have fixed the autodetect because I think debian_version is the better file to check against.

I suggest you try following:

- make sure you have a backup of your MongoDB `sudo mongodump -o "./mybackupofmongodb"`
- remove MongoDB by running `sudo apt-get remove mongodb-org`
- remove old mongodb 3.4 source list added by this installer by running `sudo rm /

[2018-10-06 05:11] win8linux commented on #55
[Debug output](https://paste.yunohost.org/raw/omewoganix):
[code]

It seems that the installation starts failing when `apt` couldn't find the `npm` package.

[2018-10-06 17:12] corentincharron commented on #58
It does work :) Thanks a lot @selamanse

[2018-10-06 17:12] #58 closed, assigned to selamanse

[2018-10-09 10:23] dromer commented on #55
My stretch system is also not properly detected:

[code]

[2018-10-09 11:09] selamanse commented on #55
@dromer thank you for pointing that out. I fixed it in my master (there was also another additional space).

@win8linux and @dromer Can you please verify installation now with `yunohost app install https://github.com/selamanse/rocketchat_ynh --debug` ?

[2018-10-09 12:14] win8linux commented on #55
[Here](https://paste.yunohost.org/raw/ihizamesim) is the log:
[code]

[2018-10-14 14:59] maniackcrudelis opened #60 "Your app is broken"
Hello

Your app is failing on our CI
https://ci-apps.yunohost.org/ci/job/434

Please try to fix this app before Sunday 21th, otherwise it will be set at notworking.
If you need help, don't hesitate to ask on our chat rooms,
- IRC: #yunohost-apps on irc.freenode.net
- Matrix: #freenode_#yunohost-apps:matrix.org
- XMPP: apps@conference.yunohost.org

[2018-10-19 19:23] selamanse commented on #60
@maniackcrudelis ok I am on it :) thanks for notice.

[2018-10-19 19:52] selamanse commented on #55
@win8linux your latest logs shows that the node install fails.
So I have update the install routine to use the ppa repo for debian 9 which is the current recommended way to install node.

Can you please retry the installation?
`yunohost app install https://github.com/selamanse/rocketchat_ynh/tree/0e1df25d936c508d2c9fd9743e908a3a4495a611 --debug`

[2018-10-20 00:36] win8linux commented on #55
Unfortunately, the install still fails with [this](https://paste.yunohost.org/raw/icimejucoh):
[code]

[2018-10-20 12:53] selamanse commented on #55
@win8linux the log only shows the removal part after the install has failed. can you please send the full debug log?

[2018-10-20 13:37] win8linux commented on #55
How do I do that?

[2018-10-20 17:13] selamanse commented on #55
please retry installation and post the full debug log here.

[2018-10-20 17:39] selamanse commented on #51
backup and restore manually tested on doc vm.

[2018-10-20 17:39] #51 closed, assigned to selamanse

[2018-10-20 20:49] selamanse commented on #43
@workbykiran @krishna-kashyap I have updated this package. can you please upgrade and reopen if your issues still exists? thank you.

[2018-10-20 20:49] #43 closed, assigned to nobody

[2018-10-20 20:54] selamanse commented on #38
@patatus I'm sorry but I will close this issue. The setup here is still quite complicated and as stated out before: mongodb 3 support for raspi is still not there but in discussion (as far as I know). If you or anyone has more insight on this. feel free to reopen.

[2018-10-20 20:54] #38 closed, assigned to nobody

[2018-10-20 20:55] selamanse commented on #34
closing because this was already implemented.

[2018-10-20 20:55] #34 closed, assigned to nobody

[2018-10-20 20:58] selamanse commented on #56
Hi @antaeusdk. can you please use the updated package and test this again? Also a bit more info about your system and installation would be helpful (ynh version and rocketchat_ynh commit id) so I can try to reproduce.

[2018-10-20 21:00] selamanse commented on #44
@dicer I have opened PR #61 can you please have a look? Also closing this because I think its not an issue anymore. feel free to reopen.

[2018-10-20 21:00] #44 closed, assigned to nobody

[2018-10-20 21:02] selamanse commented on #57
@dixon-hill can you please give some insight about your yunohost server system, mobile app name and version and ynh version? Otherwise this won't be easy to reproduce.

[2018-10-22 06:22] selamanse commented on #60
It’s working now:

https://ci-apps.yunohost.org/ci/job/679

[2018-10-22 06:25] selamanse commented on #60
@maniackcrudelis Unfortunately the ynh ci-stretch server sends mails with failed but is not accessible for me. Is this in any way different from ci-apps server where it works? Help appreciated :)

[2018-10-22 06:25] #60 closed, assigned to selamanse

[2018-10-22 07:57] pwnlambda commented on #55
I fixed the problem by following this:
https://askubuntu.com/questions/1005208/cant-reinstall-mongodb-on-ubuntu-17

[2018-11-03 14:26] selamanse commented on #57
@dixon-hill closing this for now - if your problem persists: please provide more detailed info & reopen this issue.

[2018-11-03 14:26] #57 closed, assigned to nobody

[2018-11-03 14:28] selamanse commented on #55
@win8linux did we solve your problem? I will close this for now. Please reopen if the issue still persists.

[2018-11-03 14:28] #55 closed, assigned to selamanse

[2018-11-03 14:28] selamanse commented on #56
@antaeusdk closing this. please reopen if necessary.

[2018-11-03 14:28] #56 closed, assigned to nobody

[2018-11-03 14:30] selamanse commented on #45
@plopoyop this is an rocket chat issue and not directly addressable within this package. If you feel otherwise please reopen and let us discuss what we can do to solve the issue or how we can enhance the application from installer view (or yunohost view).

[2018-11-03 14:30] #45 closed, assigned to nobody

[2018-11-03 15:39] win8linux commented on #55
Is it possible to have the instructions linked by @BadLamb in the installation script?

[2018-11-03 18:37] selamanse commented on #55
I would not recommend the force install as the default routine in the installation script. It may break some installations totally.

In general I think about decoupling mongodb installation from this setup and maybe require it as a dependency - but atm I don’t know if ynh installations support some kind of dependency behavior.

If you have any suggestions on how to implement a proper fallback logi

[2018-11-04 15:21] win8linux commented on #55
If that's the case @selamanse, then maybe this issue should be reopened and stay open until a more permanent solution arrives? At the moment, there is only a workaround that has to be performed manually by the user.

[2018-11-04 18:48] plopoyop commented on #45
It was just a way to track an upstream bug, but whatever

[2018-11-21 07:35] Manumerique opened #63 "Cant install Rocketchat on Yunohost 3.2.2"
I tried to install Rocket.chat server on a Raspberry Pi 2 with Yunohost 3.2.2, and got these error messages (installation rolled back) :
[code]

[2018-12-04 02:35] liebeimquadrat commented on #41
hey, is there any way to use rocket chat with the desktop client?

[2018-12-04 08:34] arthurzenika commented on #41
@liebeimquadrat haven't found a way to make it work (yet). Maybe a separate domain is a prerequisite ? I'm not sure when or how the "SSO has been disabled" (cf @selamanse 's comment) and if that fixes it.

[2018-12-29 18:14] Tignass commented on #63
for more detailled log, use --debug:

sudo yunohost app install --debug https://github.com/yunohost-apps/rocketchat_ynh

args:
  app: https://github.com/yunohost-apps/rocketchat_ynh
  args: null
  label: null
  no_remove_on_failure: false
ended_at: 2018-12-29 19:06:09.284522
env:
  YNH_APP_ARG_DOMAIN: chicha-team.nohost.me
  YNH_APP_ARG_IS_PUBLIC: 'No'
  YNH_APP_ARG_LANG: English
  YNH_APP_ARG_PAT

[2019-01-02 08:35] Manumerique commented on #63
Hello ! Here is the problematic sequence
----------------------------------------------------------
63501 DEBUG + sudo systemctl enable mongod.service
63707 DEBUG + ynh_exit_properly
63710 WARNING Failed to enable unit: File mongod.service: No such file or directory
63712 DEBUG + local exit_code=1
63714 WARNING !!
63717 DEBUG + '[' 1 -eq 0 ']'
63720 WARNING   rocketchat's script has encountered an

[2019-01-02 09:26] Manumerique commented on #63
Update : Upgraded to Yunohost 3.3.3, same problem
----------------------------------------------------------------------
59337 DEBUG Reading package lists...
59741 DEBUG + sudo apt-get install -y mongodb-server
60247 DEBUG Reading package lists...
61856 DEBUG Building dependency tree...
61859 DEBUG Reading state information...
63972 DEBUG mongodb-server is already the newest version (1:2.4.14-4).

[2019-01-02 09:29] Manumerique commented on #63
Sounds like the service is called mongodb.service, not mongod.service
Should be corrected in the install script ?

[2019-01-02 09:58] Manumerique opened #65 "Can't install Rocketchat on Yunohost 3.3.4 - PhantomJS missing for arm ?"
Installation tried on a Raspberry Pi 2
-----------------------------------------------------
Here is the interesting part of the error log
568699 DEBUG > phantomjs@1.9.20 install /var/lib/rocketchat/programs/server/npm/node_modules/meteor/emojione_emojione/node_modules/grunt-contrib-qunit/node_modules/grunt-lib-phantomjs/node_modules/phantomjs
568702 DEBUG > node install.js
568705 DEBUG
572827 DEB

[2019-01-02 10:14] Manumerique commented on #65
Tried installing directly phantomJS by
`sudo apt install phantomjs`
Then reinstalling, but phantomJS crashed

685829 DEBUG > node install.js
685832 DEBUG
689752 DEBUG Considering PhantomJS found at /usr/bin/phantomjs
689755 DEBUG Found PhantomJS at /usr/bin/phantomjs ...verifying
691264 WARNING Error verifying phantomjs, continuing { Error: Command failed: /usr/bin/phantomjs --version
691273 WARNI

[2019-01-20 08:47] selamanse commented on #63
the official supported package contains the `mongod` daemon which is correct for current debian installations. For ARM there is no tested (or afaik supported) package available. Please refer to this doc: https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/

[2019-01-25 22:40] selamanse commented on #63
@Manumerique as for the mongodb.service - I have now added support with merging #68 to support this daemon spec while on armhf. Can you please test this on rpi ?

[2019-01-26 08:15] Manumerique commented on #63
Hello ! The master branch now correctly support mongodb daemon for armhf. Thanks !  (The PhantomJS problem persists, so the install can't be completed)

[2019-01-26 08:16] #63 closed, assigned to nobody

[2019-01-26 08:40] Manumerique commented on #65
Same issue with actual master branch and Yunohost 3.3.4

[2019-01-26 09:03] selamanse commented on #65
@Manumerique can you please provide complete debug log from your install attempt?

[2019-01-26 09:21] Manumerique commented on #65
Complete debug log - Without previous phantomjs installation
-----------------------------------------------------------------------------------------------------
[code]

[2019-01-26 09:39] Manumerique commented on #65
Complete debug log - With previous phantomjs installation (2.2.1 in repository)
--------------------------------------------------------------------------
[code]

[2019-02-02 19:58] peatsn opened #69 "Update to 0.73.2 failed"
**Logfile Output**
`
2019-02-02 20:14:26,887: WARNING - Warning: apt-key output should not be parsed (stdout is not a terminal)
2019-02-02 20:14:31,919: WARNING - tar (child): /var/lib/rocketchat/rocket.chat-0.73.2.gtar: Cannot open: No such file or directory
2019-02-02 20:14:31,922: WARNING - tar (child): Error is not recoverable: exiting now
2019-02-02 20:14:31,923: WARNING - tar: Child returned

[2019-02-02 20:48] selamanse commented on #69
@peatsn thanks for submitting your issue. can you please rerun setup on cli with `yunohost app upgrade rocketchat_ynh --debug`. Also please add which environment this is run on OS and architecture wise. Thank you.

[2019-02-02 21:05] peatsn commented on #69
Running the update via webinterface shows the error above.

**yunohost app upgrade rocketchat_ynh --debug**
180  DEBUG loading actions map namespace 'yunohost'
195  DEBUG extra parameter classes loaded: ['comment', 'ask', 'password', 'required', 'pattern']
195  DEBUG initializing base actions map parser for cli
196  DEBUG registering new callback action 'yunohost.utils.packages.ynh_packages_versio

[2019-02-02 21:23] selamanse commented on #69
@peatsn thank you for the logs.
I am not sure if you were upgrading because it states in the logs that `501 ERROR https://github.com/YunoHost-Apps/rocketchat_ynh is not installed`

So you might have to install (again?) via:
`yunohost app install https://github.com/YunoHost-Apps/rocketchat_ynh --debug`

I am currently also trying to setup a test system with your specs and reproduce the problem.

[2019-02-02 21:59] peatsn commented on #69
i definitly ran an update on my production rocketchat via the webinterface. The update procedure deletes all under /var/lib/rocketchat

[2019-02-02 22:28] selamanse commented on #69
@peatsn that is correct - it is the program directory for rocketchat. Note: it doesnt remove the actual data which resides in mongodb.

Since I am guessing you cannot backup via ui: Before trying anything else I would recommend backing up your data by manually running: `sudo mongodump -o "~/rocketchat.dump"`

After this can you please give it a try by reinstalling via  `yunohost app install https:

[2019-02-03 09:34] selamanse commented on #69
@peatsn I could reproduce the problem and it is the part you mentioned in the beginning of this thread. The part of downloading the newer version was moved to the part before the app dir was removed. Unfortunately the app dir is the destination for this download - so the downloaded file is being removed, causing the upgrade to fail.

I have the fix coming - and this time I try to double check this

[2019-02-03 09:55] selamanse commented on #65
@Manumerique unfortunately there is no official support for armhf. So even we managed to install (an older) MongoDB on arm with this script, I can tell that this will be complicated.

I have added info on Readme.md that this package does not support armhf.
Also I will add a armhf detection which will prevent installation with a proper message.

Reasons for this:
- No official documentation on how

[2019-02-08 23:17] selamanse commented on #69
@peatsn just a little feedback here:

I have verified the fix in my integration-test branch (fork) and created a testing branch here which is still due for building on yunohost ci servers..

unfortunately it takes some time (days).

You can either wait and see the status here:
https://ci-apps-unstable.yunohost.org/ci/apps/rocketchat/

Or you can lookup test results for testing lane here:
https://d

[2019-02-09 13:06] filmaidykai opened #72 "Local videos"
Hey guys I got a problem after upgrade everything was fine but this morning something wrong happen direct links is working fine but when trying to play like https://hostyour.tv/videos/watch/4aceb60c-c0cc-4d40-8ae7-75f57ccfe033 this video nothing happens seed is gone...

[2019-02-10 20:15] selamanse commented on #72
Hello @filmaidykai, thank you for submitting an issue.

Can you please add information on your installation? Which OS Version are you running? Which Yunohost Version?

Also - if this an application problem with rocket chat - I would suggest opening an issue here:
https://github.com/RocketChat/Rocket.Chat/issues

[2019-03-18 15:11] arthurzenika commented on #69
I think I hit something similar to this. Any news on the fix in testing getting into master ?

[2019-04-06 22:38] maniackcrudelis opened #73 "Your app is level 0"
Your app is currently failing all tests on our CI.
https://ci-apps.yunohost.org/ci/job/2537

Unless the app is fixed before next Saturday, 13th, this app will be set at notworking.

[2019-06-02 17:14] vincentux opened #75 "./install: line 125: -u: command not found"
Fail install,

[code]

[code]

[2019-07-01 10:36] rosareven commented on #75
I got the same error.

[2019-07-02 06:23] rosareven commented on #75
@vincentux I created a fork that fixed line 125 - it just missed sudo. You can install from my fork in the mean time.

[2019-07-02 06:47] vincentux commented on #75
Thank you,
I don't have time to look right now, but as soon as I can I test this ;)

[2019-08-02 07:51] selamanse commented on #75
fixed by merging #76

[2019-08-02 07:51] #75 closed, assigned to nobody

[2019-08-02 07:51] selamanse commented on #75
please feel free to reopen if this issue still exists

[2020-09-29 09:31] dosch commented on #73
@selamanse any chance rocket chat might return to YNH?

[2020-09-29 10:58] selamanse commented on #73
@dosch Hacktoberfest is near. I cannot make any promises about the return but I will try to look into what can be done. :)

[2021-07-01 20:49] ericgaspar commented on #73
I have worked on RocketChat on testing branch. I am able to install it but CI tests are failing

[2021-07-22 11:24] #73 closed, assigned to selamanse

[2021-07-31 21:24] getzze opened #80 "Change url"
Hi,
I installed Rocket.chat with the `testing` branch (https://github.com/YunoHost-Apps/rocketchat_ynh/commit/6e94ffa6b2fae0ccd6230fbe6296310a2fb9dc96).
I just had to comment line 147 `mongo --eval "printjson(rs.initiate())"` in `scripts/install`, but I managed to install it.

I also had another problem (introduced with the last commit I am afraid), I installed it in `rocketchat.maindomain.tld` wi

[2021-08-04 19:39] Ibrahim-AbouElseoud opened #81 "MongoError: no primary found in replicaset or invalid replica set name"
Currently after installation, when rocket chat service tries to run it throws the following exception:

I found that a solution to this is to do the following that is mentioned here:
https://docs.rocket.chat/installing-and-updating/manual-installation/mongo-replicas

Which is to do:
1. `$ nano /etc/mongod.conf`

2. Add double quotes so it becomes  "rs01"

3. ctrl+o then enter then ctrl+x (to save

[2021-08-04 19:42] Ibrahim-AbouElseoud commented on #81
Maybe it gets fixed in a future update, but this was what worked with me to make rocket chat work if you get this error after installation so thought I'd share in case others were in the same predicament.

[2021-11-22 11:17] #37 closed, assigned to nobody

[2021-11-22 11:17] #41 closed, assigned to nobody

[2021-11-22 11:17] #48 closed, assigned to nobody

[2021-11-22 11:18] #65 closed, assigned to nobody

[2021-11-22 11:18] #69 closed, assigned to nobody

[2021-11-22 11:18] #72 closed, assigned to nobody

[2021-11-22 11:19] ericgaspar commented on #81
Thanks for testing! we should have a working version now.

[2021-11-22 11:19] #81 closed, assigned to nobody

[2021-11-22 11:20] ericgaspar commented on #80
Thanks for the feedback. RocketChat should be working now.

[2021-11-22 11:20] #80 closed, assigned to nobody

[2021-11-24 22:27] getzze commented on #80
The update to version 4.1.2 worked well, thanks!
But the `change_url` script is not working.
`ROOT_URL` is not changed in `rocketchat.service` and more importantly "Site_Url" is not changed in mongodb, as I described in my first message.
Maybe adding the following to the `change_url` script could work:
[code]

[2021-12-09 19:06] Happyclem opened #89 "Failed to install on RPI4 Yunohost image install"
### Describe the bug

Faile dot install rocket.chat app on RPI 4 with yunohost image

### Context
- Hardware: Raspberry PI 4 8Go
- YunoHost version: 4.3.4.2 stable
- I have access to my server: Through SSH **YES** | through the webadmin **YES** | direct access via keyboard / screen **YES**
- Are you in a special context or did you perform some particular tweaking on your YunoHost instance?: **no**

[2021-12-10 21:30] Happyclem opened #92 "Failed to install on RPI4 RPI OS-lite legacy with yunohost install script"
### Describe the bug

*sorry for multiple same issue*
The installation failed on my fresh install of yunohost.
The install is : Raspberry Pi 4 8Go with Raspberry Pi OS-lite legacy (Debian 10) and yunohost script installed on top.
This is to make sure that x64 packages works (as with yunohost RPI image it only support x32)

From the lgo it seems to be a problem with mongodb and dependancies not ins

[2021-12-15 11:37] keepnappy opened #94 "Failed to install on VPS"
### Describe the bug

*A clear and concise description of what the bug is.*
Trying to install the app, have tried both webadmin and CLI without success. Both on root domain and subdomain.

### Context

- Hardware: VPS bought online. vmlinuz-4.19.0-16-amd64.
- YunoHost version: YunoHost 4.3.4.2 (stable).
- I have access to my server: SSH and webadmin
- Using, or trying to install package version/br

[2021-12-15 14:00] ericgaspar commented on #94
could it be the password with special characters. try with some simple password.

Edit. also it's better to share the logs with the proposed link at the end of the install process.

[2021-12-15 15:52] keepnappy commented on #94
Thank you for your time. I tried again with password: "PmHjXH4vTtHaiJs" to no avail.

Logs:
https://paste.yunohost.org/raw/qevewigako

[2021-12-31 03:01] DizzySasquatch opened #98 "Failed to install"
Hello,

thanks for creating this package. Unfortunately I can't get it running.

### Describe the bug

I tried to install RocketChat through the Yunohost Web-UI or via the console. The installation failed.

Notable error messages:

`'/etc/apt/trusted.gpg.d/rocketchat.asc' wasn't deleted because it doesn't exist.`

`The service mongod didn't fully executed the action restart before the timeout.`

`

[2021-12-31 07:07] ericgaspar commented on #98
Can you try to install from this branch?
[code]

[2021-12-31 07:08] ericgaspar commented on #94
Can you try to install from this branch?
[code]

[2021-12-31 07:40] ericgaspar commented on #89
Please, can you share the logs by using the green button

![Capture d’écran 2021-12-31 à 08 38 10](https://user-images.githubusercontent.com/46165813/147810146-c19c0066-c037-4736-87ee-c4758bac259a.png)

Can you try to install from this branch?

[code]

[2021-12-31 10:25] DizzySasquatch commented on #98
Just tried this, but still fails to install with the same error messages.

[2021-12-31 10:55] ericgaspar commented on #98
Can you please share the full logs?

[2021-12-31 10:59] DizzySasquatch commented on #98
That's the one from `sudo yunohost app install https://github.com/YunoHost-Apps/rocketchat_ynh/tree/remove-mongo_exec`

https://paste.yunohost.org/raw/agifiyurik

[2022-01-20 07:42] cgman7 commented on #98
Ohh.. you can see my log too!
https://paste.yunohost.org/raw/dasenabowu

[2022-04-24 20:42] sthaydn commented on #98
I have the same issue, with Yunohost 11.0.6+202204201945. The install method `sudo yunohost app install https://github.com/YunoHost-Apps/rocketchat_ynh/tree/remove-mongo_exec` doesn't seem to exist anymore. In services the mongoDB is still there with error.

[2022-04-24 20:43] sthaydn commented on #98
When trying to install testing, the error is the same.

[2022-04-25 07:10] ericgaspar commented on #98
@sthaydn I can't figure out why NodeJS 12 is being installed instead of  NodeJS 14 as set in the install script...

[2022-04-25 10:09] DizzySasquatch commented on #98
@sthaydn do you have Yunohost running in a virtual machine, or on a dedicated or v-server? For me it didn't work in a VM, but works just fine on a remote v-server.

@ericgaspar is it possible that this might be the issue here?

[2022-04-25 13:34] sthaydn commented on #98
No, it is a VPS on netcup, sorry.

[2022-04-25 14:08] sthaydn commented on #98
I do not have knowledge about this at all and maybe it sounds stupid, but does it make a difference putting the version number into quotation marks?

Another idea: I also have Rocket.Chat installed on a VM at home, there is the exact version needed to get it working, when I recall it right. Maybe putting 14.18.3 (for RocketChat 4.6.3) as nodejs_version could help?

[2022-06-23 11:37] stemy2 commented on #98
Same

https://paste.yunohost.org/raw/xorofafari

[2022-07-02 22:25] #94 closed, assigned to nobody

[2022-07-02 22:25] #98 closed, assigned to nobody

[2022-07-02 22:25] #89 closed, assigned to nobody

[2022-07-02 22:25] #92 closed, assigned to nobody

[2022-07-05 07:28] sthaydn opened #129 "URL path when installing"
Hi there,

great you have sorted out the install issues.

When installing now, I always get rocket.domain.tld/rocketchat (when choosing GUI install I have to enter a path, not when using Terminal, but there it does the path even when not entering one), but I only want to have rocket.domain.tld. When changing it via GUI, I am not able to connect then.

What could I do?

Regards,

Stefan

[2022-07-05 12:09] ericgaspar commented on #129
I am installing Rocket.Chat on sub-path -> `domain.tld/rocketchat` and in a sub-domain `rocket.domain.tld` without issue...

The change_url script as a bug. The systemd config should be regenerated as we need to change domain and path variables: `Environment=ROOT_URL=https://__DOMAIN____PATH__`

[2022-07-08 17:43] ericgaspar opened #131 "Things to fix"
- [ ] Sending files is blocked at 0% and does not advance

[2022-07-08 17:44] ericgaspar commented on #129
Closing with #128

[2022-07-08 17:44] #129 closed, assigned to nobody

[2022-07-09 11:18] KamuiX opened #132 "Installation script for non AVX supported CPUs"
My YunoHost server
Hardware: An old rig with an Intel(R) Core™2 Duo CPU E8400 @ 3.00GHz, 8GB of RAM and 3x500GB in RAID 5
YunoHost version: 4.3.6.3 (stable)
I have access to my server : SSH and Web

Description of my issue

I have opened a support request in Yunohost forums regarding this problem. https://forum.yunohost.org/t/rocket-chat-fails-to-install/20327. The Yunohost app fails to install be

[2022-07-12 12:11] ericgaspar commented on #132
You should be able to install mongodb with the testing version.
`sudo yunohost app install https://github.com/YunoHost-Apps/rocketchat_ynh/tree/testing`

[2022-07-12 12:23] KamuiX commented on #132
oO thanks @ericgaspar! seems it has been requested already. Should I execute

`
echo "mongodb-org hold" \| sudo dpkg --set-selections
echo "mongodb-org-server hold" \| sudo dpkg --set-selections
echo "mongodb-org-shell hold" \| sudo dpkg --set-selections
echo "mongodb-org-mongos hold" \| sudo dpkg --set-selections
echo "mongodb-org-tools hold" \| sudo dpkg --set-selections
`

to protect the packag

[2022-07-12 12:29] ericgaspar commented on #132
I am not really sure we need this... (to be tested without I guess)

[2022-07-12 13:21] KamuiX commented on #132
Thanks once again. Installation was smooth and everything works out of the box. I had a problem with Admin password but I suppose my copy->paste in terminal somehow messed things up. I reset the password using mongosh and doing the below

`use rocketchat
db.getCollection('users').update({username:"<username you choose for admin>"}, { $set: {"services" : { "password" : {"bcrypt" : "$2a$10$n9CM8OgIn

[2022-07-20 16:17] #132 closed, assigned to nobody

[2022-07-20 20:15] KamuiX opened #135 "Rocket.chat server crash when android app logs in"
My YunoHost server
Hardware: An old rig with an Intel(R) Core™2 Duo CPU E8400 @ 3.00GHz, 8GB of RAM and 3x500GB in RAID 5
YunoHost version: 4.3.6.3 (stable)
I have access to my server : SSH and Web

Description of my issue

After succesufully installed the yunohost app (test tree) because I am using an old non AVX processor https://github.com/YunoHost-Apps/rocketchat_ynh/issues/132#issuecomment-11

[2022-07-20 21:06] ericgaspar commented on #135
your issue seems to be close to this one...
https://forums.rocket.chat/t/first-install-rocket-chat-crashes-after-a-few-minutes/13307

[2022-07-20 21:08] KamuiX commented on #135
Although there are some big differences
1) Mine is event driven (APP login) and not time driven (after few minutes)
2) I am on Yunohost (debian) not Centos

but the truth is that they are talking about "old CPUs" and that makes me wonder again.

--EDIT--

Oups just read "Update: I have isolated this when I open the mobile app, it crashes the service on the server every time."

--EDIT 2--

Once aga

[2022-08-18 20:02] #131 closed, assigned to nobody

[2022-08-18 20:03] ericgaspar commented on #135
Closing this. Please reopen if needed

[2022-08-18 20:03] #135 closed, assigned to nobody

[2022-09-25 20:57] sthaydn opened #155 "iOS App doesn't connect"
Hi there,

RocketChat is working fine with Android and Linux on my yunohost with all on latest version. Also the macOS works fine, but no chance to get it working on iOS.

After inserting my credentials and clicking on connect, nothing happens.

Is this something known, or is this a "special feature" on my yunohost install?

Regards,

Stefam

[2022-09-26 06:02] ericgaspar commented on #155
@sthaydn  Most of the time, the problem occurs when rocket.Chat is installed as private app during install. You can change the permission to public in the webadmin > Applications > Rocket.Chat  > Manage groups and permissions

[2022-09-26 12:35] sthaydn commented on #155
It is set to all_users and visitors. Visitors is public, I guess?

[2022-09-29 21:19] ericgaspar commented on #155
FYI, I have Rocket.Chat working fine on iOS...

[2022-09-30 17:23] sthaydn commented on #155
Ok, thanks for that. So it seems there is an issue on my side. Where are the logfiles from RocketChat?

[2022-09-30 17:25] ericgaspar commented on #155
Webadmin -> Services ->  rocketchat

[2022-09-30 18:01] sthaydn commented on #155
Ok, there are no entries with logging in. Do you have another idea what I could investigate?

[2022-10-04 18:32] getzze commented on #155
Hi, I also have the same problem, it works everywhere but iOS.
I followed [this](https://forums.rocket.chat/t/the-ios-version-cannot-be-logged-in/13475), but nothing works.
Still have to try [this](https://forums.rocket.chat/t/error-you-must-be-logged-in-to-do-this-with-status-code-401unauthorized/9804/3).

[2022-10-05 09:53] getzze commented on #155
I managed to make it work!
I had previously set the [security setting](https://yunohost.org/en/security#change-cipher-compatibili) for nginx to "modern", so it was using only TLSv1.3, but I guess it doesn't work on old iphones.
Setting it to intermediate makes it work:
[code]

What is strange is that I tried adding this line to `/etc/nginx/conf.d/rocketchat.my.subdomain.conf`:
`ssl_protocols TLSv1

[2022-10-05 12:34] sthaydn commented on #155
After reading your comment it hit me really hard. :-D I did exactly the same a long time ago, haven't remembered it until now. Thank you very much! It also works for me now.

But, you are right, I would also have "modern" set as default and only have changed that where it is necessary.

[2022-10-07 14:51] stilobique opened #158 "Login apres installation"
### Describe the bug
Après une installation, j'ai voulut me connecter avec l'admin user (password renseigné pendant l'installation)
### Context

- Hardware: computer
- YunoHost version: 11.0.9.15
- I have access to my server: Through SSH | through the webadmin | direct access via keyboard / screen
- Are you in a special context or did you perform some particular tweaking on your YunoHost instance?

[2022-10-07 15:13] ericgaspar commented on #158
Can you check your password/username? It can be found at `/etc/systemd/system/rocketchat.service` L.18-19

[2022-10-07 15:44] stilobique commented on #158
Hello @ericgaspar
Of course, my password are generated with enpass, and some special character are present, a can update this line and restart the service.

Actually, it's something like `@WCsZ8Ui6b=J9%sjrX` and the username are the user setup with the installation.

EDIT: Hum, write a new password with only MAJ, min and number like `vH3wf9hjJ8AuqWPjs6`, restart with `sudo yunohost service restart

[2022-10-14 09:30] #155 closed, assigned to nobody

[2022-11-26 11:20] stilobique commented on #158
Hello,
I have uninstall/reinstall the application with a password more simple, and it's work.
I don't know if I close this issue.